[submodule "fast_paced_multiplayer"]
	path = fast_paced_multiplayer
	url = https://github.com/DewarM/fast_paced_multiplayer.git
[submodule "cg-from-scratch"]
	path = cg-from-scratch
	url = https://github.com/DewarM/cg-from-scratch.git
